Learn Python <br>
Tutorial link: https://www.kaggle.com/colinmorris/hello-python

In [ ]:
print("I've successfully run some Python code")
print("Yeay!")

I've successfully run some Python code
Yeay!

In [ ]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter

radius = diameter/2

# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared

area = pi*radius**2
print(area)

7.0685775

Add code to the following cell to swap variables a and b (so that a refers to the object previously referred to by b and vice versa).

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]

a,b = b,a

print(a)
print(b)

[3, 2, 1]
[1, 2, 3]

Add parentheses to the following expression so that it evaluates to 1.

In [ ]:
5 - 3 // 2

4

In [ ]:
(5 - 3) // 2

1

Add parentheses to the following expression so that it evaluates to 0.

In [ ]:
8 - 3 * 2 - 1 + 1

2

In [ ]:
8 - 3 * 2 - (1 + 1)

0

Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [ ]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies
to_smash = (alice_candies+bob_candies+carol_candies)%3

print(to_smash)

1